
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            color: #070101;
            
        }
        header {
            background-color: #0a3d62;
            color: white;
            padding: 30px;
            text-align: center;
        }
        .contenido {
            width: 85%;
            margin: auto;
            padding: 25px;
            background: white;
            margin-top: 30px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        }
        h1, h2, h3 {
            color: #00fff2;
        }
        footer {
            text-align: center;
            margin-top: 40px;
            padding: 20px;
            background-color: #0a3d62;
            color: white;
        }
        img {
            max-width: 100%;
            margin: 20px 0;
        }